---
import { urls } from '../components/Data.astro'; // Importa las URLs desde el archivo Data.astro
import { getDatos } from "../components/Data.astro"; // Importa la función getDatos para obtener datos
let data = await getDatos(); // Llama a la función getDatos y espera a que se complete
---

<footer>
  <div class="info"> <!-- Contenedor para la información general -->
    <h3>Información general:</h3> <!-- Título para la sección de información -->
    <p>Derechos de autor &copy; 2024 {data?.nombre}.<br>Todos los derechos reservados.</p> <!-- Información de derechos de autor con el nombre -->
    <p>Email: <a href={"mailto:"+data?.email}>{data?.email}</a></p> <!-- Enlace de correo electrónico -->
    <p>Teléfono: <a href={"tel:"+data?.telefono}>{data?.telefono}</a></p> <!-- Enlace para llamar al teléfono -->
  </div>

  <div class="links"> <!-- Contenedor para los enlaces -->
    <h3>Enlaces:</h3> <!-- Título para la sección de enlaces -->
    <ul> <!-- Lista de enlaces -->
      <li><a href={urls.inicio}>Inicio</a></li> <!-- Enlace a la página de inicio -->
      <li><a href={urls.cv}>Currículum Vitae</a></li> <!-- Enlace al CV -->
      <li><a href={urls.contacto}>Contacto</a></li> <!-- Enlace a la página de contacto -->
      <li><a href={urls.portafolio}>Portafolio</a></li> <!-- Enlace al portafolio -->
      <li><a href={urls.habilidades}>Habilidades</a></li> <!-- Enlace a la sección de habilidades -->
    </ul>
  </div>

  <div class="social"> <!-- Contenedor para las redes sociales -->
    <h3>Redes sociales:</h3> <!-- Título para la sección de redes sociales -->
    <a href="https://es.linkedin.com/in/dmytro-reva-922505198?original_referer=https%3A%2F%2Fwww.google.com%2F" target="_blanc"> <!-- Enlace a LinkedIn -->
      <svg viewBox="-0.5 -0.5 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" id="Linkedin--Streamline-Unicons" height="30" width="30">
        <desc>Linkedin Streamline Icon: https://streamlinehq.com</desc>
        <path d="M..."></path> <!-- SVG de icono LinkedIn -->
      </svg>
    </a>
    <a href="https://github.com/DmytroReva2001" target="_blanc"> <!-- Enlace a GitHub -->
      <svg viewBox="-0.5 -0.5 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" id="Github--Streamline-Unicons" height="30" width="30">
        <desc>Github Streamline Icon: https://streamlinehq.com</desc>
        <path d="M..."></path> <!-- SVG de icono GitHub -->
      </svg>
    </a>
  </div>

  <div class="astro"> <!-- Contenedor que indica la tecnología utilizada -->
    <h3>Creado con:</h3> <!-- Título para la sección de tecnología -->
    <a href="https://astro.build/" target="_blanc"> <!-- Enlace a Astro -->
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 6 24 24" id="Astro--Streamline-Svg-Logos" height="80" width="80">
        <desc>Astro Streamline Icon: https://streamlinehq.com</desc>
        <path d="M..."></path> <!-- SVG de icono Astro -->
      </svg>
    </a>
  </div>
</footer>

<style> /* Estilos de los elementos */
  footer { /* Estilo para el footer */
    display: flex; /* Utiliza flexbox para el diseño */
    justify-content: space-evenly; /* Espacia los elementos uniformemente */
    padding: 1%; /* Padding en el footer */
    background-color: #f0f0f0; /* Color de fondo */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Sombra en el footer */
    border-radius: 10px; /* Bordes redondeados */
    margin-top:2%; /* Margen superior */
  }

  h3 { /* Estilo para los títulos h3 */
    color: #333; /* Color del texto */
  }

  p { /* Estilo para los párrafos */
    color: #666; /* Color del texto */
  }

  ul { /* Estilo para las listas */
    list-style: none; /* Sin viñetas */
    padding: 0; /* Sin padding */
  }

  a { /* Estilo para los enlaces */
    color: #007bff; /* Color del texto del enlace */
    text-decoration: none; /* Sin subrayado */
  }

  a:hover { /* Estilo para el hover de los enlaces */
    text-decoration: underline; /* Subrayado al pasar el mouse */
  }

  svg { /* Estilo para los SVG */
    transition: transform 0.3s; /* Transición suave */
  }

  .social a { /* Estilo para los enlaces de redes sociales */
    display: inline-block; /* Mostrar como bloque en línea */
  }

  svg:hover { /* Estilo para el hover de los SVG */
    transform: scale(1.2); /* Escala al pasar el mouse */
  }

  .astro, .social { /* Estilo para los contenedores de astro y social */
    text-align: center; /* Texto centrado */
  }

  @media only screen and (max-width: 600px) { /* Estilos responsivos para pantallas pequeñas */
    footer { /* Estilo para el footer en pantallas pequeñas */
      display: block; /* Cambia a bloque */
      text-align: center; /* Texto centrado */
    }
  }
</style>