---
import { urls } from "../components/Data.astro";
---

<header>
  <div class="dr">
    <a href={urls.inicio}>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        id="D--Streamline-Typeface"
        height="50"
        width="50"
        ><desc>D Streamline Icon: https://streamlinehq.com</desc><path
          stroke="#000000"
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6.857142857142857 1.7142857142857142v20.57142857142857h5.142857142857142a5.142857142857142 5.142857142857142 0 0 0 5.142857142857142 -5.142857142857142V6.857142857142857a5.142857142857142 5.142857142857142 0 0 0 -5.142857142857142 -5.142857142857142H6.857142857142857Z"
          stroke-width="1"></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        id="R--Streamline-Typeface"
        height="50"
        width="50"
        ><desc>R Streamline Icon: https://streamlinehq.com</desc><path
          stroke="#000000"
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6.857142857142857 22.285714285714285V13.714285714285714m0 0V1.7142857142857142h5.142857142857142a5.142857142857142 5.142857142857142 0 0 1 5.142857142857142 5.142857142857142v1.7142857142857142a5.142857142857142 5.142857142857142 0 0 1 -5.142857142857142 5.142857142857142H6.857142857142857Zm6.857142857142857 0 4.285714285714286 8.571428571428571"
          stroke-width="1"></path></svg
      >
    </a>
  </div>
  <nav>
    <ul>
      <li><a href={urls.inicio}>Inicio</a></li>
      <li><a href={urls.cv}>Currículum Vitae</a></li>
      <li><a href={urls.contacto}>Contacto</a></li>
      <li><a href={urls.portafolio}>Portafolio</a></li>
      <li><a href={urls.habilidades}>Habilidades</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    background-color: #f0f0f0;
    color: #333;
    padding: 1% 0;
    text-align: center;
    justify-content: space-evenly;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  nav ul li {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
  }

  nav ul li a {
    color: #666;
    text-decoration: none;
    font-size: 1.2em;
  }

  nav ul li a:hover {
    color: var(--text-color);
  }

  .dr a {
    text-decoration: none;
    background-color: var(--primary-color);
  }

  .dr {
    transition: transform 0.3s;
    margin-bottom: 2%;
  }

  .dr:hover {
    transform: scale(1.2);
  }

  @media only screen and (max-width: 600px) {
    nav ul li {
      display: block;
      margin:3%;
      text-align: justify;
    }
    nav ul {
      margin-top: 7%;
    }
  }
</style>
