---
const project = Astro.props.project;
---
<a href={project.url}>
<div class="card">
  <img src={project.img} alt={project.nombre} />
  <div>
    <h2>{project.nombre}</h2>
    <p>{project.descripcion}</p>
  </div>
  <div class="tec-icon">
    <h2>Tecnologías:</h2>
    {project.tecnologias.map((tech: { img: string, url: string }) => (
    <a href={tech.url} target="_blank"><img src={tech.img} alt="Tecnología"/></a>
  ))}
  </div>
</div>
</a>

<style>
  .card {
    margin: 1%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    display: inline-block;
    width: 20%;
    height: 550px;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  img {
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 10px 10px;
  }

  h2 {
    color: #333;
    font-size: 23px;
  }

  p {
    color: #666;
    font-size: 15px;
  }

  .tec-icon img{
  width:auto;
	height: 50px;
  padding: 3%;
  }

  .tec-icon img {
    transition: transform 0.3s;
  }

  .tec-icon img:hover {
    transform: scale(1.2);
  }

  .tec-icon {
    text-align: center;
  }

  a
  {
    text-decoration: none;
  }

  @media (max-width: 768px) {
      .card {
        width: 95%;
        text-align: center;
      }
    }
</style>