---
const project = Astro.props.project; // Se obtiene el proyecto de las propiedades de Astro
import type { Tech } from "../components/Interfaces.astro";
---

<a href={project.url}>
  <div class="card">
    <img src={project.img} alt={project.nombre} />
    <div>
      <h2>{project.nombre}</h2>
      <p>{project.descripcion}</p>
    </div>
    <div class="tec-icon">
      <h3>TECNOLOGÍAS</h3>
      {project.tecnologias.map((tech: Tech) => (
        <a href={tech.url} target="_blank" rel="noopener noreferrer">
          <img src={tech.img} alt="Tecnología" />
        </a>
      ))}
    </div>
  </div>
</a>

<style>
  .card {
    padding: 10px; /* Relleno interno de la tarjeta */
    margin-bottom: 5%;
    border: 1px solid #ccc; /* Borde de la tarjeta */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Oculta el contenido que desborda */
    transition: transform 0.3s, box-shadow 0.3s; /* Transición suave para el efecto hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
    background-color: #f0f0f0; /* Color de fondo de la tarjeta */
    display: flex; /* Usar flexbox para contenido interno */
    flex-direction: column; /* Organiza el contenido en columnas */
    justify-content: space-between; /* Espacio entre elementos internos */
    width: 300px; /* Ancho fijo para todas las tarjetas */
    height: 500px; /* Altura fija para mantener la uniformidad */
    text-align: center;
  }

  .card:hover {
    transform: translateY(-5px); /* Levanta la tarjeta ligeramente */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra */
  }

  img {
    height: 200px; /* Altura fija para las imágenes */
    object-fit: cover; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados */
  }

  h2 {
    color: #333; /* Color del texto */
    font-size: 20px; /* Tamaño de fuente */
  }

  h3 {
    color: #333; /* Color del texto */
    font-size: 15px; /* Tamaño de fuente */
  }

  p {
    color: #666; /* Color del texto */
    font-size: 15px; /* Tamaño de fuente */
    flex-grow: 1; /* Permite que el párrafo ocupe el espacio disponible */
  }

  .tec-icon img {
    width: auto; /* Ancho automático */
    height: 50px; /* Altura fija */
    padding: 3%; /* Relleno alrededor de las imágenes */
    transition: transform 0.3s /* Transición suave para el efecto hover */
  }

  .tec-icon img:hover {
    transform: scale(1.2); /* Aumenta el tamaño de la imagen al pasar el ratón */
  }

  .tec-icon {
    text-align: center; /* Centra el texto */
  }

  a {
    text-decoration: none; /* Sin subrayado */
  }

  @media (max-width: 768px) {
    .card {
      width: 90%; /* Ancho ajustado para pantallas pequeñas */
    }
  }
</style>